/********************************** Global ***********************************/

body{  
    height: 100%;
    width: 100%;
}

#container{
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
}

a{
    text-decoration: none;
    color: #5dc8a0;
}

.clear{
    clear: both;
}

h2{
    font-family: 'Martel', serif;
    font-size: 4em;
    color:#1254cc;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

h3{
    font-family: 'Karla', sans-serif;
    font-size:1.8em;
    color:#858585; /*a59999*/
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
}

.bold{
    font-weight: bold;
    font-size: 2.5em;
    color: #1254cc;
}

.subTitle{
    font-weight: bold;
    font-size: 1.5em;
}

.colored{
    font-family: 'Karla', serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #1254cc;
}

li{
    font-size: 1.2em;
    line-height: 1.61;
}


th{
    font-size: 1.2em;
}

iframe{
    width: 100%;
    min-height:400px;
}


/****************************** Header/Navigation ****************************/

#header{
    position: fixed;
    width: 100%;
    margin: 10px auto;
    /*background-color: #343436;*/
    z-index: 5;
}

#headerbg{ 
    position: fixed;
    /*background-color: #343436;*/
    /*background: linear-gradient(#343436, rgba(255,0,0,0));*/
    width: inherit;
    height: inherit;
    z-index: 1;
}

#logo{
    position: relative;
    float: left;
    height: 65px;
    z-index: 2;
}

#homelogo{
    height: inherit;
}

#logoimg{
    height: inherit;
    padding-left: 5em;
}

ul.topNav{
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    /*background-color: #343436;*/
    height: inherit;
    /*vertical-align: middle;
    padding-top: 22px;
    padding-right: 50px;
    position: fixed;*/
}

ul.topNav li {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 23px 23px;
    text-decoration: none;
    font-size: 1.5em;
    z-index: 1;
}

/*.navWords{
    color: #fff;
    padding-right: 23px;
    padding-left: 23px;
    font-size: 1.5em;
}*/

.hamburger{
    color: #333;
    font-size: 1.5em;
    display: none;
}

a.hamburger:link, a.hamburger:visited, a.hamburger:hover{
    text-decoration: none;
    color: #858585;
}

a.navWords:link, a.navWords:visited{
    color: #858585;
    font-weight: bold;
}

a.navWords:hover{
    text-decoration: none;
    padding-bottom: 8px;
    border-bottom: 4px solid #1254cc;
}


/****************************** Title Image ***********************************/

#banner{
    position: relative;
    top: 75px;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
    height: 850px;
}

#redirect{
    position: absolute;
    top: 50%;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    height: 50px;
}

#redirect a{
    text-decoration: none;
    display: block;
    padding: 12px;
    margin-left: 33px;
    font-size: 1.2em;
    font-weight: 500;
    color: #fff;
    letter-spacing: 2.6px;
}

button{
    display: inline-block;
    background-color: transparent;
    border: 3px solid #fff;
    width: 310px; 
    height: 50px; 
    margin: 0 auto;
    padding: 12px;
    margin-left: 33px;
    color: #fff;
    letter-spacing: 2.6px;
    transition: 0.25s ease-in-out 0;
    box-shadow: -5px 7px 5px 0px #333;
}

button:hover{
    color: #fff;
    background-color: #333;
}

.verticalCenterTitle{
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    top: 20%;
}


/********************************** About *********************************/

#about{
    height: inherit;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 10% 0% 5% 0%;
}

.abtMe{
    padding: 3% 0% 3% 0%;
    max-width: 600px;
    align-content: center;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.61;
    margin: 0 auto;
}

.abouttxt{
    align-content: center;
    text-align: center;
    font-size: 1.2em;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
}

.desctxt{
    text-align: left;
    font-size: 1.2em;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    line-height: 1.61;
}

#whoAmI{
    position: relative;
    width: inherit;
    background-image: url(../img/whoami.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

.emph{
    font-family: 'Martel', serif;
    font-weight: bold;
    color: #1254cc;
    font-size: 1.6em;
    letter-spacing: 0px;
}

.quotes{
    font-family: 'Martel', serif;
    font-weight: bold;
    color: #000;
    font-size: 1.6em;
    letter-spacing: 0px;
    line-height: 2em;
}


/********************************** Portfolio *********************************/

.portCont{
    max-width: 1440px;
    margin: auto;
    padding-top: 7%;
    background-color: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.portIndexCont{
    max-width: 1440px;
    margin: auto;
    padding: 75px 0 5% 0;
    background-color: white;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.portHomeCont{
    max-width: 1440px;
    margin: auto;
    padding: 10% 0 5% 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portBanner{
    position: relative;
    width: inherit;
    background-image: url(../img/portbanner.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    z-index: -2;
}

.doWork{
    position: relative;
    display: block;
    min-height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}

doWork:hover{
    opacity: 0.5; 
}

.portDesc{
    max-width: 900px;
    margin: auto;
    padding: 2% 0 2% 0;
}

#preview{
    position: relative;
    width: 100%;
    /*padding-top: 150px;
    padding-bottom: 150px;*/
    background-size: contain;
    /*background: #f3f3f3;*/
}

@media screen and (min-width: 1100px) /* Desktop */ {
}

@media screen  and (max-width: 1099px) /* Tablet */ {
  #about{
    max-width: 100%;
    padding-top: 15%;
  }
  .portHomeCont{
    max-width: 100%;
    padding-top: 15%;
  }
  .portCont{
    max-width: 100%;
    padding-top: 15%;
  }
  .portIndexCont{
    max-width: 100%;
  }
}

@media screen and (max-width: 700px) /* Mobile */ {
  .abtMe{
    max-width: 350px;
  }
  #about{
    padding-top: 25%;
  }
  .portHomeCont{
    padding-top: 25%;
  }
  .portCont{
    padding-top: 25%;
  }
  h2{
    font-size: 2.5em;
  }
  h3{
    font-size: 1.5em;
  }
  .hamburger{
    display: inline-block;
  }
  .navWords{
    display: none;
  }
  a.hamburger:link, a.hamburger:visited, a.hamburger:hover{
    position: fixed;
    right: 1em;
    top: 0.5em;
}
  ul.topNav.responsive {
    position: relative;
    float: left;
    overflow: visible;
    height: 220px;
    text-align: left;
    width: 100%;
    background-color: #fff;
  }
  ul.topNav.responsive li.hamburger {
    position: fixed;
    right: 1em;
    top: 0.5em;
  }
  ul.topNav.responsive li {
    float: none;
    display: inline;
  }
  ul.topNav.responsive li a {
    display: block;
    text-align: left;
    background-color: #fff;
  }
}

.portfolio{
    font-family: 'Oswald', serif;
    font-size: 5em;
    color: white;
    margin-left: 10%; 
    height: inherit;
    top: 50%; 
    text-shadow: 3px 3px 5px #000;
}

.description{
    position: relative;
    font-size: 1.5em; 
    color: #5dc8a0;
    padding: 10px 0px 50px 5px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 10px 0px 10px #888888;
    font-weight: bold;
}

.type{
    background-color: #1254cc;
    height: 100%;
    font-size: 1.5em;
    padding: 10px 0px 10px 5px;
    box-shadow: 10px 0px 10px #888;
    color: white;
}

.blur img:hover{
  opacity: 0.7; 
}

.portImg{
    height: inherit;
    width: 100%;
    padding-bottom: 10px;
}

.portImgNike{
    height: inherit;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 50px;
    border: 1px solid #bbb;
}

.portTitleImg{
    width: 100%;
    margin: 0;
}

.stackedPhotos{
    width: 50%;
    margin: 0;
    float: left;
    display: inline block;
}

#verticalCenterPreview{
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    top: 15%;
}

#verticalCenterPortfolio{
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    top: 25%;
}

.verticalCenterProject{
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
    top: 100px;
}

#portfolioPages{
    position: relative;
    width: 100%;
    background-size: contain;
    background: #fff;
    margin: 0 auto;
    /*padding-bottom: 10%;*/
}

.back{
    float: left;
    padding: 3%;
    text-align: center;
    width: 50%;
    background-color: #bbb;
    transition: background-color 0.3s linear;
   -webkit-transition: background-color 0.3s linear;
   -moz-transition: background-color 0.3s linear;
}

.next{
    float: right;
    text-align: center;
    right: 0; 
    padding-right: 10px; 
    padding: 3%;
    width: 50%;
    background-color: #bbb;
    transition: background-color 0.3s linear;
   -webkit-transition: background-color 0.3s linear;
   -moz-transition: background-color 0.3s linear;
}

.projNav{
    font-size: 1em;
    margin: 0 auto;
}

a.projNav:link{
    color: #ccc;
}

a.projNav:visited{
    color: #ccc;
}

.back:hover{
    background-color: #1254cc;
}

.next:hover{
    background-color: #1254cc;
}

a.button{
    position: relative;
	display: inline-block;
	background: #3e7e89;
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	border-radius: 0.2em;
	text-decoration: none;
	padding: 1em 1.3em 1em 1.3em;
	border: 0;
	cursor: pointer;
	outline: 0;
}

a:visited{
    text-decoration: none;
}

a.button:hover{
    color: #fff;
    background: #479baa;
    text-decoration: none;
}

.current{
    text-decoration: underline;
    color: #8bfff6;
}

#uniDesc{
    padding-left: 25px;
    padding-top: 25px;
}

#desc{
    padding-left: 25px;
}

.arrow{
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
}

/****************************** Thank You Banner *******************************/

#thanks{
    height: inherit; 
    width: 100%;
    background-image: url(../img/thankyou.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}


/********************************** Footer ************************************/

#footer{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #fff;
    box-shadow: 2px 4px 8px 3px #8d8d8d;
    margin: 0 auto;
    color: #333; 
    text-align: center;
}

#findme{
    font-size: 2em;
    padding-top: 55px;
}

.email{
    font-size: 1.5em;
    color: #333;
    padding-bottom: 0.8em;
}

a.email:link{
    color: #333;
}

a.email:visited{
    color: #5dc8a0;
}

a.email:hover{
    color: #1254cc;
    text-decoration: none;
}

.social{
    padding-top: 20px;
}

#fb, #insta, #linked{
    padding-right: 15px;
    color: #333;
    font-size: 1.3em;
    transition: color 0.2s linear;
   -webkit-transition: color 0.2s linear;
   -moz-transition: color 0.2s linear;
}

#fb:hover, #insta:hover, #linked:hover{
    color: #1254cc;
}

#copyright{
    font-size: 1.3em;
    padding-top: 0.8em;
}



/********************************** Loader ************************************/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loader.GIF) center no-repeat #fff;
}




/************************************* Grid & Bubba ***************************************/
.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1em 0 1em;
    list-style: none;
    text-align: center;
}

/* Common style */
.grid figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 300px;
    max-height: 300px;
    width: 48%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 1;
}

.grid figure figcaption {
    padding: 2em;
    color: #ccc;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

/*---------------*/
/***** Zoe *****/
/*---------------*/

figure.effect-zoe figcaption {
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 3.25em;
    background: #fff;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
    float: left;
    color: black;
    text-shadow: none;
    letter-spacing: 2px;
}

figure.effect-zoe p.desc {
    position: absolute;
    bottom: 8em;
    padding: 2em;
    color: #fff;
    text-transform: none;
    font-size: 90%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden; /* Fix for Chrome 37.0.2062.120 (Mac) */
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

figure.effect-zoe h2 {
    display: inline-block;
    font-size: 1em;
}

figure.effect-zoe:hover p.desc {
    opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba {
    background: $off-black;
    width: 400px;
    height: auto;
}

figure.effect-bubba img {
    opacity: 1.0;
    width: 400px;
    height: auto;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
    opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
    position: absolute;
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

figure.effect-bubba h2 {
    padding-top: 25%;
    color: #fff;
    font-size: 2em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

figure.effect-bubba p {
    padding: 20px 2.5em;
    opacity: 0;
    color: #fff;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}